.home_screen-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;padding: 1rem;
    border-radius: 50px;
    height: 3rem;
    width: 600px;
    border: 1px solid #C6C9CD;
    margin: 1rem 0 2rem 0;
}

form input{
    border: none;
    outline: none;
    width: 100%;
    margin: 1rem;
    font-size: 1rem;
}

form:hover{
    box-shadow: 0px 2px 10px -5px #888888;
}

form:active{
    box-shadow: 0px 2px 10px -5px #888888;
}

.input-icon{
    color: #C6C9CD;
    cursor: pointer;
}


.homescreen-btn{
    border: none;
    border-radius: 8px;
    background-color: #F8F9FA;
    color: #3C4049;
    font-size: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    cursor: pointer;
}

.homescreen-btn:hover{
    border: 1px solid #8e8e8e;
}

@media screen and (max-width:576px) {
    form{
        width: 320px;
        height: 2rem;
    }
    .homescreen-btn{
        font-size: .7rem;
        padding: .7rem;
        margin: 0 .5rem 0 .5rem;
    }
    .home_screen-container img{
        width: 50%;
    }
}